@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);
.preload{-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;-o-transition:none!important}
html{
margin:0;
padding:0;
font-size:16px;
font-family:'Roboto', Verdana, Geneva, sans-serif
}
body{
margin:0;
background:#fff;
color:#444
}
.wrapper{
max-width:1024px;
min-width:420px;
margin:0 auto;
box-sizing:border-box;
display:table
}
.footer{
width:100%;
min-width:420px;
margin:48px 0;
text-align:center
}
.footer .faq{
text-align:center;
margin-bottom:12px;
font-size:1.2em
}
#logo{
height:40px;
width:90px;
margin:0 auto;
background:url(logo.png) no-repeat center;
background-size:contain
}
.govno{
width:100%;
min-width: 420px;
padding:12px 0;
border-bottom:1px solid #EEE
}
h1,h2,h3{
font-weight:400;
margin:0;
padding:0
}
h1{
font-size:2.6em;
line-height:1.2;
margin-top:48px;
padding:0 12px
}
#block{
margin:24px 0 12px 0;
padding:0 12px
}
h2{
font-size: 1.2em
}
h3{
font-size:1.2em
}
.oth{
margin-top:18px;
padding:0 12px;
color:#999
}
ul{
margin-top:12px;
padding:0 12px;
list-style-type:none;
text-align:center
}
li{
width:100%;
margin-bottom:12px;
display:inline-block;
vertical-align:top;
border-radius:8px;
border:1px solid #EEE
}
.inside{
text-align:left;
padding:12px 18px;
line-height:1.4
}
.inside a{
color:#444
}
h2 a{
color:#0072ff!important;
text-decoration:none;
border-bottom:1px solid rgba(0,114,255,.3)
}
h2 a:hover{
color:#f41224!important;
border-color: rgba(244,18,36,.3)
}
h2 a:visited{
color: #b40eb4!important;
border-color: rgba(180,14,180,.3)
}
.ins .price{
margin-top:18px;
font-size:2em;
padding:0 12px
}
#intrests{
width:30%;
display:inline-block;
vertical-align:top;
box-sizing:border-box
}
.ins{
width:70%;
display:inline-block;
vertical-align:top;
box-sizing:border-box
}
.money{
background:#FEB;
border:1px solid #DA6;
margin:12px 12px 0 12px;
border-radius: 8px;
font-size:0.9em
}
.money h3{
padding:0 20px;
margin:12px 0;
font-size:1.2em
}
.money p{
margin:12px 0;
padding:0 20px
}
hr{
border:none;
height:1px;
background:#DA6; 
margin:0
}
#logo a{
display:block;
height:40px;
width:100%
}
i{
font-size:0.9em;
color:#999;
padding:0 12px ;
margin-top:8px;
display:block
}
@media screen and (max-width: 800px) {
.ins{
display:block;
width:100%
}
#intrests{
display:block;
width:100%;
margin-top: 36px
}
}