@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);
.preload{-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;-o-transition:none!important}
html{
margin:0;
padding:0;
font-size:16px;
font-family:'Roboto', Verdana, Geneva, sans-serif
}
body{
margin:0;
background:#fff;
color:#424242
}
.footer{
width:100%;
min-width:320px;
margin:48px 0;
text-align:center
}
.footer .faq{
text-align: center;
margin-bottom: 12px
}
.wrapper{
max-width: 1024px;
min-width:320px;
margin:0 auto;
padding: 0 12px;
}
#block {
	margin: 12px 0 12px 0;
	padding-right: 24px;
}
#logo{
height:40px;
background:url(logo.png) no-repeat center;
background-size:contain
}
.govno{
width:100%;
padding:12px 0;
border-bottom:1px solid #f1f1f1
}
h1,h2,h3,h4{
font-weight:normal;
margin:0;
padding:0
}
h1{
font-size: 2.5em;
margin-top:48px;
padding-right: 24px;
}
h2 {
	font-size: 1.2em;
}
h3{font-size:20px}
h4{
	font-size:24px;
	margin-top: 12px;
}
.oth {
	margin-top: 18px;
	color: #999;
}
ul{
margin:12px 0 0 0;
padding:0;
list-style-type:none;
text-align:center
}
li{
width:100%;
display:inline-block;
vertical-align:top;
border-radius:8px;
border:1px solid #f1f1f1;
margin-bottom: 12px;
}
.inside{
text-align:left;
padding:12px 18px;
line-height: 1.4
}
.inside a{color:#424242}
h2 a{
color:#0072ff!important;
text-decoration:none;
border-bottom:1px solid rgba(0,114,255,.3)
}
h2 a:hover{
color:#f41224!important;
border-color: rgba(244,18,36,.3)
}
h2 a:visited{
color: #b40eb4!important;
border-color: rgba(180,14,180,.3)
}
.ins .price{
border-radius: 6px;
font-size: 2em;
display: inline-block
}
.cit{text-align: center}
.faq{
text-align:center;
margin-top:24px;
font-size:18px
}
#intrests {
	width: 330px;
	display: inline-block;
}
.ins {
	width: 680px;
	display: inline-block;
	vertical-align: top;
}
.money {
	background: #ffecb3;
	border: 1px solid #e2ae6e;
	margin-top: 12px;
	margin-right: 24px;
	font-size: 0.9em;
}
.money h3 {
	padding: 0 20px;
	margin: 12px 0;
	font-size: 1.2em;
}
.money p {
	margin: 12px 0;
	padding: 0 20px;
}
hr {
	border:none;
	height: 1px;
	background: #e2ae6e; 
	margin: 0;
}
.tiloh {
	text-align: left;
	margin-top: 12px;
	font-size: 18px;
}
.tiloh li {
	display: list-item;
	list-style-type: none;
	border: none;
}
.tiloh li:before {
  content:"\2014\0020";
}
#logo a {
	display: block;
	height: 40px;
	width: 100%;
}
.faq{
max-width: 70%;
min-width:320px;
margin:0 auto;
padding: 0 12px;
text-align: left;
}
.faq h1 {
	font-size:24px;
}
.faq h4 {
	font-size: 18px;
}
i {
	font-size: 0.9em;
	color: #999;
	margin-top: 8px;
	display: block;
}