@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);
.preload{-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;-o-transition:none!important}
html{
margin:0;
padding:0;
font-size:16px;
font-family:'Roboto', Verdana, Geneva, sans-serif
}
body{
margin:0;
background:#fff;
color:#424242
}
.footer{
width:100%;
min-width:320px;
margin:48px 0;
text-align:center
}
.wrapper{
max-width:1024px;
min-width:320px;
margin:0 auto
}
#logo{
height:40px;
background:url(logo.png) no-repeat center;
background-size:contain
}
#logo a {
	display: block;
	height: 40px;
	width: 100%;
}
.govno{
width:100%;
padding:12px 0;
border-bottom:1px solid #f1f1f1
}
h1,h2,h3{
font-weight:normal;
margin:0;
padding:0
}
h1{
font-size:48px;
text-align:center;
margin-top:48px
}
h3{font-size:13px}
ul{
margin:24px 0 0 0;
padding:0;
list-style-type:none;
text-align:center
}
li{
width:420px;
margin:10px;
display:inline-block;
vertical-align:top;
border-radius:8px;
border:1px solid #f1f1f1
}
.inside{
text-align:left;
padding:24px 24px;
line-height: 1.4
}
.inside a{color:#424242}
h2 a{
color:#0072ff!important;
text-decoration:none;
border-bottom:1px solid rgba(0,114,255,.3)
}
h2 a:hover{
color:#f41224!important;
border-color: rgba(244,18,36,.3)
}
h2 a:visited{
color: #b40eb4!important;
border-color: rgba(180,14,180,.3)
}
.price{
padding: 6px 12px;
border-radius: 6px;
background: #f5f5f5;
display: inline-block
}
.inside:hover .price{
background: linear-gradient(#42a1ec, #0070c9);
color: #fff
}
.price:hover{
background: linear-gradient(#5bb3f9, #0d86e6)!important
}
.price:active{
background: linear-gradient(#2588d6, #0764ad)!important;
color: #fff
}
.cit{text-align: center}
.faq{
text-align:center;
margin-top:24px;
font-size:18px
}
.box {
	margin-top: 24px;
}