@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);
.preload{-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;-o-transition:none!important}
html{
margin:0;
padding:0;
font-size:16px;
font-family:'Roboto',Verdana,Geneva,sans-serif
}
body{
margin:0;
background:#fff;
color:#424242
}
.footer{
width:100%;
min-width:420px;
margin:48px 0;
text-align:center
}
.wrapper{
max-width:1024px;
min-width:420px;
margin:0 auto
}
#logo{
height:40px;
background:url(logo.png) no-repeat center;
background-size:contain
}
#logo a{
display:block;
height:40px;
width:90px;
margin: 0 auto
}
.govno{
width:100%;
min-width:420px;
padding:12px 0;
border-bottom:1px solid #eee
}
h1,h2{
font-weight:400;
margin:0;
padding:0
}
h1{
font-size:3em;
text-align:center;
margin-top:42px
}
ul{
margin:24px 0 0 0;
padding:0;
list-style-type:none;
text-align:center;
display:table
}
li{
width:48%;
margin:1%;
display:inline-block;
box-sizing: border-box;
vertical-align:top;
border-radius:8px;
border:1px solid #eee
}
.inside{
text-align:left;
padding:24px;
line-height:1.4
}
.inside a{
color:#444
}
h2 a{
color:#0072ff!important;
text-decoration:none;
border-bottom:1px solid rgba(0,114,255,.3)
}
h2 a:hover{
color:#f41224!important;
border-color: rgba(244,18,36,.3)
}
h2 a:visited{
color: #b40eb4!important;
border-color: rgba(180,14,180,.3)
}
.price{
padding:6px 12px;
border-radius:6px;
background:#EEE;
display:inline-block
}
.inside:hover .price{
color:#fff;
background:linear-gradient(#42a1ec, #0070c9)
}
.price:hover{
color:#fff;
background: linear-gradient(#5bb3f9, #0d86e6)!important
}
.price:active{
color:#fff;
background: linear-gradient(#2588d6, #0764ad)!important
}
.faq{
margin:12px 0 24px 0;
font-size:1.2em
}
@media screen and (max-width: 800px) {
li{
width:100%;
margin:1% 0;
border:none
}
.inside {border-bottom: 1px solid #EEE}
}